@import 'variables.module';

body {
  background-color: $background-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Toastify__toast-container--top-right {
  margin-top: 42px;

  @media (max-width: 576px) {
    margin-top: 20px;
    width: calc(100% - 20px);
  }
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  border: 1px solid $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}

hr {
  border-color: $border-color;
}

.navbar {
  .navbar-brand {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}