@import 'variables';
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  background-color: $background-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: darken($primary-color, 10%);
  border-color: darken($primary-color, 10%);
}

.btn-success {
  background-color: $success-color;
  border-color: $success-color;
}

.btn-error {
  background-color: $error-color;
  border-color: $error-color;
}

hr {
  border-color: $border-color;
}
